* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.heading {
	font-family: 'Be Vietnam', sans-serif;
	text-transform: lowercase;
	letter-spacing: 0.1rem;
}

a {
	font-family: 'Be Vietnam', sans-serif;
	text-decoration: none;
	color: #333;
}

.h-nav-item {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: lighter;
	color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.h-nav-item:hover {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: bold;
	color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.header-nav {
	z-index: 5;
	background: rgba(255, 255, 255, 0.9);
	/*position: sticky;
	position: -webkit-sticky;*/
	top: 0;
	margin: auto;
}

p {
	margin-bottom: 0px !important;
}

h2 {
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .4em;
	font-weight: 300;
	padding-bottom: 0.5rem;
}


.btn-link:hover {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	font-weight: 400;
	color: inherit;
	overflow: hidden;
	/*letter-spacing: -0.1px;*/
}

.active-section {
	text-decoration: none;
	font-weight: 400;
	color: inherit;
}

.section-about {
	background: #FFF;
	padding-top: 7rem;
	color: black;

}

.logo-link {
	font-family: 'Bree Serif', serif;
	font-size: 0.7rem !important;
}

.logo-date {
	font-family: 'Bree Serif', serif;
	font-size: 0.7rem !important;
}

@media screen and (min-width: 769px) {
	.heading {
		font-family: 'Be Vietnam', sans-serif;
		font-size: 2.2rem;
		padding-top: 1rem;

		font-weight: 300;
	}

	a {
		font-size: 1rem;
		font-weight: 300;
	}

	.h-nav-item {
		font-size: 0.8rem !important;
	}

	.header-nav {
		padding-top: 1rem;
		padding-bottom: 1.5rem;
	}

	.logo-link {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 768px) {
	.heading {
		font-size: 1.6rem;
		padding-top: 1rem;
		letter-spacing: .1rem;
		font-weight: 300;
	}

	p {
		font-weight: 100;
		font-size: 0.4em;
	}

	a {
		font-size: 0.6em;
	}

	.h-nav-item {
		font-size: 0.5rem;
		font-weight: 300;
	}

	.header-nav {
		padding-top: 2rem;
		padding-bottom: 1rem;

	}

	.logo-link {
		font-size: 1.5rem;
	}
}



.footnote {
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	margin-top: 1rem;
	font-size: 0.5rem;
}

img {
	vertical-align: middle;
	max-width: 100%;
}

.masonry {
	display: flex;
	width: 100%;
}

.masonry--h {
	flex-flow: row wrap;
}

.masonry--v {
	flex-flow: column wrap;
	max-height: 1080px;
}

.masonry--h,
.masonry--v {
	margin-left: -8px;
	/* Adjustment for the gutter */
	counter-reset: brick;
}

.masonry-brick {
	overflow: hidden;
	border-radius: 0px;
	margin: 0 0 5px 5px;
	/* Some Gutter */
	/*background-color: #333;*/
	/*color: white;*/
	position: relative;
}

/*
.masonry-brick--h {
  flex: auto;
  height: 250px;
  min-width: 150px;
}*/

@media only screen and (min-width: 1025px) {

	.masonry-horizontal {
		height: auto;
		flex-basis: 33%;
		flex-grow: 1;

	}

	.masonry-horizontal-small {
		height: auto;
		flex-basis: 20%;
		flex-grow: 1;

	}

	.masonry-vertical {
		height: auto;
		/*max-width: 300px;*/
		flex-basis: 13.5%;
		flex-grow: 1;
	}

	.masonry-vertical-large {
		height: auto;
		/*max-width: 300px;*/
		flex-basis: 20%;
		flex-grow: 1;
	}

	.masonry-square {
		height: auto;
		/*max-width: 300px;*/
		flex-grow: 1;
		flex-basis: 22%;
	}

	.gallery-container {
		width: 70% !important;
		text-align: center;
		margin: auto;
	}

	p,
	span,
	input,
	textarea,
	button {
		font-weight: 300;
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
	.masonry-horizontal {
		height: auto;
		flex-basis: 33%;
		flex-grow: 1;

	}

	.masonry-horizontal-small {
		height: auto;
		flex-basis: 20%;
		flex-grow: 1;

	}

	.masonry-vertical {
		height: auto;
		/*max-width: 132px;*/
		flex-basis: 13%;
		flex-grow: 1;
	}

	.masonry-vertical-large {
		height: auto;
		/*max-width: 300px;*/
		flex-basis: 20%;
		flex-grow: 1;
	}

	.masonry-square {
		height: auto;
		/*max-width: 300px;*/
		flex-grow: 1;
		flex-basis: 22%;
	}

	.gallery-container {
		width: 70% !important;
		text-align: center;
		margin: auto;
	}

	p,
	span,
	input,
	textarea,
	button {
		font-weight: 300;
		font-size: 0.6em;
	}
}

@media only screen and (max-width: 768px) {

	.mail-overlay {
		width: 80%;
	}

	.masonry-horizontal {
		width: 100%;
		height: auto;
		padding-top: 1em;
	}

	.masonry-vertical {
		height: 100%;
		max-width: auto;
		padding-top: 1em;

	}

	.masonry-square {
		height: 100%;
		max-width: auto;
		padding-top: 1em;
	}

	.gallery-container {
		width: 70% !important;
		text-align: center;
		margin: auto;
		padding-top: 2em;
	}

	p,
	span,
	input,
	textarea,
	button {
		font-weight: 300;
		font-size: 0.5em;
	}
}

.masonry-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	/*filter: brightness(50%);*/
}

.figure :hover {
	background-color: rgba(25, 25, 25, 0.4);
}

figure {
	margin: 0.3rem !important;
}

#cont-1 {
	-webkit-animation: fadein 0.5s linear forwards;
	-moz-animation: fadein 0.5s;
	/* Firefox < 16 */
	-ms-animation: fadein 0.5s;
	animation: fadein 0.5s linear forwards;
	opacity: 0;

}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.mail-overlay {
	background-color: #f0f0f0;
	z-index: 100;
	position: fixed;
	width: 70%;
	top: 5rem;
	height: auto;
	border: 1px solid #dfdfdf;
}

.res-error {
	color: red;
}

.res-success {
	color: green;
}

#overlay-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 5;
	/*display    : none;*/
}

#overlay-form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	/*display  : none;*/
}

.spinnerContainer {
	/*position: ;*/
	min-height: 100%;
	width: 100%;
	z-index: 10;
	text-align: center;
	padding-top: 10vh;
}

.lds-dual-ring {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
}

.lds-dual-ring:after {
	content: "ga";
	display: block;
	width: 40px;
	height: 40px;
	margin: 1px;
	border-radius: 50%;
	border: 4px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.footer-icon {
	max-width: 20px;
}

.footer a {
	font-size: 0.8rem !important;
}

.footer {
	/*position: fixed;*/
	height: 3rem;
	bottom: 0;
	width: 100%;
	padding-top: 0.6rem;
	padding-bottom: 2rem;
	text-align: center;
	background-color: #FFF;
	margin-bottom: 0px;
}

.lbheader {
	top: 0;
	position: fixed;
	background-color: transparent;
	color: white;
	max-height: 2rem;
    margin-right: 2rem;
	padding: 1rem;
	cursor: pointer;
}

.banner-title {
	font-family: 'Bree Serif', serif;
	/*font-size: 7rem !important;*/
	/*padding-right: 2vw;*/
	white-space: nowrap;
}

.front-page {
	border: 0.5rem solid red;
	margin: 2vw;
}

.navigator {
    top: 0;
    right: 0;
    position: fixed;
    margin-top: 4vw;
	margin-right: 4vw;
	margin-left: 4rem;
	background-color: #FFF;
    text-align: right;
    z-index: 1;
}

.header-nav-mobile {
	z-index: 5;
	background: rgba(255, 255, 255, 0.9);
	/*position: sticky;
	position: -webkit-sticky;*/
	top: 0;
	margin: auto;
	text-align: left;
}

.h-nav-item-mobile {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: lighter;
	color: inherit;
    text-decoration: none;
	cursor: pointer;
	font-size: 12px;
}

.h-nav-item-mobile:hover {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: bold;
	color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.nav-icon {
	max-width: 18px;
	margin: 0px;
	padding-right: 0px;
}

.nav-items {
	/*right: 0.5rem;*/
	/*position: absolute;*/
	background-color: #FFF;
	padding-left: 0px;
	padding-right: 10px;
}

.contact {
	/*background-color: #000;
	color: #FFF;*/
	font-family: 'Bree Serif', serif;
	font-size: 20px;
}